@import "_colores";
@import "_fuentes";
@import "_animaciones";

$displayFlex: "flex";

a {
    text-decoration: none;
    padding-right: 10px;
}

.row {
    margin-left: 1%;

    &-producto {
        margin-left: 4%;
    }
}

.user-login {
    width: 270px;
}

.user-data {
    width: 350px;
}

.centrar{
    display: flex;
    justify-content: center;}

@media screen and (max-width: $maxWidth) {
    .btn{
        display: $displayFlex;
    }
    #nav-cel {
        display: $displayFlex;
    }
    #nav-desktop {
        display: none;
    }
}

@media screen and (min-width: $minWidth) {
    .btn{
        display: none;
    }
    #nav-cel {
        display: none;
    }
    #nav-desktop {
        display: $displayFlex;
    }
}

.imgFondo img {
    display: $displayFlex;
    width: 100%;
}

.producto {
    display: $displayFlex;
    width: 90%;
}